<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyDTBeh9lz7dSZHAEeFqoTqIXb1M2D3iGY4</string>
    <key>GCM_SENDER_ID</key>
    <string>534114307814</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.tulavanderia.app</string>
    <key>PROJECT_ID</key>
    <string>inner-sweetness</string>
    <key>STORAGE_BUCKET</key>
    <string>inner-sweetness.firebasestorage.app</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:534114307814:ios:aecf1b4c9d383c48bd7527</string>
    <key>DATABASE_URL</key>
    <string>https://inner-sweetness-default-rtdb.firebaseio.com</string>
</dict>
</plist>
